html{
    background-color: #111827;
    color: #fff
}


body{
    font-family: monospace;
}


.textCenter{
    text-align: center;
}


.buttonCenter{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.roundedBox {
    background-color: #1F2937;
    border-radius: 15px; 
    overflow: hidden; 
    text-align: center;
    max-width: 25%; 
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.boxImage {
    width: 100%; 
    height: auto; 
    background-color: #1F2937;
}


.boxText {
    padding: 15px; 
    font-size: 16px;
    color: #fff;
}


.roundedBox2 {
    background-color: #1F2937;
    border-radius: 15px; 
    overflow: hidden; 
    text-align: center;
    max-width: 25%; 
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.pointToPointIcon{
    max-width: 5%; 
    position: absolute;
    top: 34%;
    left: 47%;
}


.adjust{
  position: absolute;
  top: 50;
  left: 50%;
  transform: translate(-50%, -50%);
}


.adjust2{
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.adjust3{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav a {
  float: left;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: monospace;
}

.topnav a:hover {
background-color: #1F2937

}


.topnav a.active {
  background-color: #000000;
  color: #fff;
}

.githubLink {
  text-decoration: none;
}

.githubLink h1 {
  color: #4B5563; 
}

.githubLink:hover h1 {
  color: #9CA3AF; 
}



/* I didn't make this part, i only adjusted it to my needs. I found it here: https://uiverse.io/InfinityLoopGames/rotten-dog-63. */

.buttonGlow {
    
    --glow-color: #991B1B;
    --glow-spread-color: #991B1B;
    --enhanced-glow-color: #991B1B;
    --btn-color: #991b1b5e;
    border: 0.25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em 0.25em var(--glow-color),
      0 0 4em 1em var(--glow-spread-color),
      inset 0 0 0.75em 0.25em var(--glow-color);
    text-shadow: 0 0 0.5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
  }
  
  .buttonGlow::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: 0.7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
  }
  
  .buttonGlow:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em 0.25em var(--glow-color),
      0 0 4em 2em var(--glow-spread-color),
      inset 0 0 0.75em 0.25em var(--glow-color);
  }
  
  .buttonGlow:active {
    box-shadow: 0 0 0.6em 0.25em var(--glow-color),
      0 0 2.5em 2em var(--glow-spread-color),
      inset 0 0 0.5em 0.25em var(--glow-color);
  }
