html {
  background-color: #111827;
  color: #fff;
  box-sizing: border-box;
}

body {
  font-family: monospace;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.textCenter {
  margin-top: 80px;
}

.buttonCenter {
  margin: 20px auto;
  width: auto;
}

.roundedBox {
  background-color: #1F2937;
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
  width: 80%;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
}

.roundedBox2 {
  background-color: #1F2937;
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
  width: 80%;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
}

.boxImage {
  width: 100%;
  height: auto;
  background-color: #1F2937;
}

.boxText {
  padding: 15px;
  font-size: 16px;
}

.pointToPointIcon {
  width: 10%;
  max-width: 100px;
  margin: 20px auto;
  display: block;
}

.adjust {
  position: absolute;
  top: 04%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

.adjust2 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

.adjust3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

.topnav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  z-index: 1000; /* idk what this does but removing it destroys the whole page */
}

.topnav a {
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: monospace;
}

.topnav a:hover {
  background-color: #1F2937;
}

.topnav a.active {
  background-color: #000000;
  color: #fff;
}

.githubLink {
  text-decoration: none;
}

.githubLink h1 {
  color: #4B5563; 
}

.githubLink:hover h1 {
  color: #9CA3AF; 
}



/* I didn't make this part, i only adjusted it to my needs. I found it here: https://uiverse.io/InfinityLoopGames/rotten-dog-63. */

.buttonGlow {
    
    --glow-color: #991B1B;
    --glow-spread-color: #991B1B;
    --enhanced-glow-color: #991B1B;
    --btn-color: #991b1b5e;
    border: 0.25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em 0.25em var(--glow-color),
      0 0 4em 1em var(--glow-spread-color),
      inset 0 0 0.75em 0.25em var(--glow-color);
    text-shadow: 0 0 0.5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
  }
  
  .buttonGlow::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: 0.7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
  }
  
  .buttonGlow:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em 0.25em var(--glow-color),
      0 0 4em 2em var(--glow-spread-color),
      inset 0 0 0.75em 0.25em var(--glow-color);
  }
  
  .buttonGlow:active {
    box-shadow: 0 0 0.6em 0.25em var(--glow-color),
      0 0 2.5em 2em var(--glow-spread-color),
      inset 0 0 0.5em 0.25em var(--glow-color);
  }
